.body{
  font-family: "Inter";
}
.navbar{
  width: 100%;
  background-color: #F55A5A;
  display: inline-flex;
  align-items: center;
  color: white;
}

.nav--logo{
  margin-left: 45%;
  margin-right: 5px;
}

.container{
  margin: 40px;
  margin-left: 60px;
  margin-bottom: 45px;
  display: flex;
  height: 168px;
  width: 50%;
}

.trip--info{
  height: 168px;
  padding-left: 30px;
}

.trip--cntry{
  font-size: xx-small;
  margin-bottom: 0;
}

.trip--location{
  margin-top: 2px;
  margin-bottom: 10px;
}

.trip--date{
  font-size:x-small;
  font-weight: bold;
  margin-top: 0;
}

.trip--desc{
  font-size: smaller;
}
